<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hitwh.haoqitms.mapper.CourseMapper">

    <select id="getCourses" resultType="com.hitwh.haoqitms.entity.CourseList">
        SELECT course.*, employee.name AS instructor_name
        FROM course, employee
        <where>
            course.instructor_id = employee.employee_id
            <if test="courseList.name != null and courseList.name != ''">
                AND course.name LIKE CONCAT('%', #{courseList.name}, '%')
            </if>
            <if test="courseList.companyName != null and courseList.companyName != ''">
                AND course.company_name LIKE CONCAT('%', #{courseList.companyName}, '%')
            </if>
            <if test="courseList.startDate != null and courseList.startDate != ''">
                AND DATE_FORMAT(course.start_date, '%Y-%m-%d') >= DATE_FORMAT(#{courseList.startDate}, '%Y-%m-%d')
            </if>
            <if test="courseList.instructorName != null and courseList.instructorName != ''">
                AND employee.name LIKE CONCAT('%', #{courseList.instructorName}, '%')
            </if>
        </where>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getCoursesCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM course, employee
        <where>
            course.instructor_id = employee.employee_id
            <if test="courseList.name != null and courseList.name != ''">
                AND course.name LIKE CONCAT('%', #{courseList.name}, '%')
            </if>
            <if test="courseList.companyName != null and courseList.companyName != ''">
                AND course.company_name LIKE CONCAT('%', #{courseList.companyName}, '%')
            </if>
            <if test="courseList.startDate != null and courseList.startDate != ''">
                AND DATE_FORMAT(course.start_date, '%Y-%m-%d') >= DATE_FORMAT(#{courseList.startDate}, '%Y-%m-%d')
            </if>
            <if test="courseList.instructorName != null and courseList.instructorName != ''">
                AND employee.name LIKE CONCAT('%', #{courseList.instructorName}, '%')
            </if>
        </where>
    </select>

    <select id="getCourseByName" resultType="com.hitwh.haoqitms.entity.Course">
        SELECT * FROM course
        <where>
            course.course_id = #{userId}
            <if test="name != null and name != ''">
                AND course.name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getCourseCountByName" resultType="java.lang.Integer">
        SELECT count(*) FROM course
        <where>
            course.course_id = #{userId}
            <if test="name != null and name != ''">
                AND course.name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

</mapper>
