<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis-config.xml -->

<configuration>
    <mappers>
        <mapper resource="com/hitwh/haoqitms/mapper/StudentCourseViewMapper.xml"/>
        <mapper resource="com/hitwh/haoqitms/mapper/CourseMapper.xml"/>
        <mapper resource="com/hitwh/haoqitms/mapper/TrainingApplicationMapper.xml"/>
    </mappers>
</configuration>
